<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>
<style>
  .navbar {
    background-color: #161617;
    color: white;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  .list {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: x-large;
    margin: 0;
    padding: 0;
  }
  
  .list li {
    padding: 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
  }
  
  .translate-toggle {
    cursor: pointer;
  }
  
  .togglelist {
    position: absolute;
    background-color: #252525bd;
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    font-weight: 600;
  }
  
  .togglelist a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
   
  }
  .hidden{
    display: none;
  }
  .signup {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1.3px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
  }
  .subcohead{
    margin-top: 4; 
  }
  .translate-toggle{
    font-size: larger;
    font-weight: 600;
  }
  .Sentence{
    font-weight: bold;
    font-size: x-large;
  }
  .special{ 
    font-family: inherit;
    font-style: normal;
    background: linear-gradient(90deg, #6ce8db, #d578d7 16.7%, #ed6f71 33.3%, #f6cc4c 50%, #ed6f71 66.7%, #d578d7 83.3%, #6ce8db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: saturate(1.2);
    background-size: 400% 400%;
}
li:hover{
    color: #91cc5d;
}
</style>
<body>
  <div class="navbar">
    <div class="nav flex mx-16 my-7 items-center">
      <div class="logo">
        <img src="static/logo.jpg" alt="" width="170px" height="170px" class="rounded-full"/>
      </div>
      <ul class="list flex mx-5 max-md-block">
        <li class="p-2 text-xl">
          <a href="https://sarthaksign.netlify.app/" class="nav-link">Explore</a>
        </li>
        <li class="p-2 text-xl">
          <a href="https://sarthaksign.netlify.app/" class="nav-link">Courses</a>
        </li>
        <li class="p-2 text-xl">
          <div class="translate-toggle" onclick="toggleTranslate()">
            Translate <span id="toggleIcon">&#9660;</span>
          </div>
          <div class="togglelist hidden">
            <div class="speech py-2 text-xl">
              <a href="https://sarthaksign.netlify.app/" class="nav-link">Speech to Sign</a>
            </div>
            <div class="sign py-2 text-xl">
              <a href="http://127.0.0.1:5000/" class="nav-link">Sign To Speech</a>
            </div>
          </div>
        </li>
        <li class="p-2 text-xl">
          <a href="http://127.0.0.1:8000/sign_gesture/" class="nav-link">Dictionary</a>
        </li>
        <li class="p-2 text-xl">
          <a href="/Contact" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>
  
    <a href="/Signup" class="signup" onclick="hideNavbar()">Sign up</a>
  </div>
      
    <div class="mt-16">
        <div class="mt-16">
            <div class="heading flex justify-center items-center text-center px-1 mt-2">
                <div class="merge w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12">
                    <div class="main text-4xl font-extrabold text-center">
                        Convert Any Sign Language into speech,
                        <i class="special">in your understandable Language</i>
                    </div>
                    <div class="submain">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quasi, neque tempora magnam distinctio illo! Itaque dolor fugiat autem velit, vel </div>
                </div>
            </div>
            <div class="main flex gap-5 px-7 items-center mt-5">
                <div class="content w-1/2">
                    <div class="cohead font-bold text-2xl">
                        Directly translate the Live Sign Language into audio
                    </div>
                    <div class="subcohead mt-4 border w-full h-10">
                   <div class="Sentence">
                    Said:
                   </div>
                   <div class="said">
                    {{ans}}
                   </div>
                    </div>
                   
                    <div class="flex justify-start gap-5">
                        <div
                            class="capbutton rounded-xl mt-6 px-8 py-4 bg-gray-900 text-white flex justify-center items-center text-xl font-bold">
                            <button onclick="showVideoFeed()">
                                <div class="flex justify-center items-center gap-1" onclick="startPrediction()">
                                    Capture Sign
                                    <FaVideo />
                                </div>
                            </button>
                        </div>
                        <div
                            class="capbutton rounded-xl mt-6 px-8 py-4 bg-gray-900 text-white flex justify-center items-center text-xl font-bold">
                            <button onclick="stopVideoFeed()">
                                <div class="flex justify-center items-center gap-1" onclick="startPrediction()">
                                    Stop Capture
                                    <FaVideo />

                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="video w-1/2 px-8 py-6 rounded-xl">
                    <div id="video-container">
                        <video id="gif" src="/static/hello.mp4" width="80%" autoplay></video>
                        <img id="video-feed" src="" width="90%">
                    </div>
                    <script>
                        var videoFeedUrl = "{{ url_for('video_feed') }}";
                        function showVideoFeed() {
                            let videoContainer = document.getElementById('video-container');
                            let videoElement = document.getElementById('video-feed');
                            let gifElement = document.getElementById('gif');
                            videoElement.src = videoFeedUrl;
                            gifElement.style.display = 'none';
                        }
                        
                    </script>
                    <script>
                        function startPrediction() {
                            // Your JavaScript code to start the prediction goes here
                            console.log("Prediction started...");
                        }
                        document.addEventListener('DOMContentLoaded', function() {
                      text=document.querySelector('.said').innerText
                          console.log(text)
                          const speechSynthesis = window.speechSynthesis;

            // Create a new speech utterance with the text to speak
            const utterance = new SpeechSynthesisUtterance(text);

            // Speak the text
            speechSynthesis.speak(utterance);
                        
                      })
                        function stopVideoFeed(){
                        currentloc=window.location.href
                        transferto=currentloc+'//video_feed?stop=True'
                          window.location.href=transferto }
                    </script>
                </div>
            </div>
        <div class="review mt-32 bg-black text-white w-full h-2/6 px-5 py-5 flex justify-between items-center gap-3">
            <div class="image">
                <img src="static/m1.png"
                    class="rounded-full w-96 h-52" alt="" />
            </div>
            <div class="review">
                <div class="head text-xl font-medium">
                    I am Angelin Monisha. I joined DEF's ISL course to learn ISL to
                    communicate with Deaf people. Within this short period, I learned a
                    lot about deaf people and their cultures and sign language. Now I am
                    so confident that<i class="special">I can communicate with deaf community and can help
                        them in finding solutions for their problems.</i> Our instructor Akash
                    sir taught us very well. He never gets tired of clarifying our
                    doubts. He made those classes filled with entertainment and we
                    totally enjoyed those classes. Finally learning a new language opens
                    many door as well as sign language brings together the deaf and the
                    hearing. Thank you so much.
                </div>
            </div>
        </div>
        <div class="use mt-32 mx-10">
            <div class="heading flex justify-center text-3xl font-extrabold">
                How to Translate Sign Language
            </div>
            <div class="mt-5 videobox flex justify-center" style="width: 40%; height: 40%;">
                <video src="static/hello.mp4"
                   muted width="20%" height="20%" class="rounded-xl" autoplay></video>
            </div>
            <div className="steps flex justify-between items-center mt-9 px-8">
                <div className="card ">
                  <div className="head text-2xl font-bold ">
                  <div className="imag flex justify-center items-center">
      
                    <img src="static/icons8-camera-50.png"  width={'60px'} height={'60px'}
                    alt="" />
                    </div>
                   Step 1. <br />Capture Sign Language Gesture
                  </div>
                  <div className="inf mt-6 ">
                  The Deaf/Mute person should stand in front of the screen where the sign-to-speech system is active.
      
                  </div>
                </div>
                <div className="card">
                  <div className="head text-2xl font-bold">
                  <div className="imag flex justify-center items-center">
                  <img src="static/icons8-translation-30.png" alt="" width={'60px'} height={'60px'}/>
      </div>
                    Step 2. <br />Translate gesture to text 
                  </div>
                  <div className="inf mt-6">
                  Perform sign gestures that you want to communicate. These gestures will be captured by the system and displayed on the screen.
      
                  </div>
                </div>
                <div className="card">
                  <div className="head text-2xl font-bold">
                  <div className="imag flex justify-center items-center">
      
                  <img src="static/icons8-aa-50.png" width={'60px'} height={'60px'} alt="" />
      </div>
                    Step 3. <br />Display Translated Text
                  </div>
                  <div className="inf mt-6">
                  The system converts these sign gestures into understandable language, allowing normal people to understand the message being conveyed.
      
                  </div>
                </div>
              </div>
        </div>
    </div>

</body>

</html>